%bold {
  font-weight: 400;
}

%default-text {
  line-height: map-get($line-heights, default-text);
  margin-bottom: map-get($sp-after, default-text) - map-get($nudges, nudge--p);
  margin-top: 0;
  padding-top: map-get($nudges, nudge--p);
}

%small-text {
  font-size: pow($ms-ratio, -1) * 1rem;
  line-height: map-get($line-heights, small);
  margin-bottom: map-get($sp-after, small);
  padding-top: map-get($nudges, nudge--small);
}
