@mixin cookie-p-modal {
  .p-modal {
    height: auto;
    width: auto;

    &__dialog {
      margin-bottom: 2rem !important;
      overflow: auto;
    }

    button {
      box-sizing: border-box;
    }
  }
}
