/* stylelint-disable selector-class-pattern */
$modal-large-breakpoint: 1219px;

@mixin cookie-p-modal {
  .cookie-notification-modal .grid-row--50-50-on-large > .grid-col {
    @media (max-width: $modal-large-breakpoint) {
      grid-column: auto / span 8;
    }
  }

  .p-modal {
    height: auto;
    width: auto;

    &__dialog {
      margin-bottom: 0 !important;
      max-height: 80vh;
      overflow: auto;
      padding-bottom: 0;
    }

    button {
      box-sizing: border-box;
    }
  }

  .cookie-notification-modal {
    align-items: end;
    background: none;

    .p-modal__dialog {
      background-color: $colors--theme--background-alt;
      max-width: 100%;
      width: 100%;
    }

    .p-modal__header {
      background-color: $colors--theme--background-alt;
    }

    /* Full width on medium and small screens */
    @media (width < $breakpoint-large) {
      .p-modal__dialog {
        bottom: 0;
        left: 0;
        max-width: 100%;
        right: 0;
        width: 100%;
      }
    }

    /* Center buttons on large screens */
    @media (width > $modal-large-breakpoint) {
      .cookie-notification-buttons {
        justify-content: center !important;
        text-align: center !important;
      }
    }

    /* Add margin-left to is-inline button on medium and large screens */
    @media (width > $breakpoint-x-small) {
      .p-button.is-inline {
        margin-left: $sph--large;
      }
    }

    .p-modal__header::after {
      background-color: $colors--theme--border-low-contrast;
    }
  }
}
