@mixin cookie-p-notification {
  $asset-path: 'https://assets.ubuntu.com/v1/';

  .p-notification--cookie-policy {
    @include notification;
    bottom: 0;
    left: .75rem;
    right: .75rem;
    position: fixed;
    width: auto;
    z-index: 200;

    @at-root .p-notification {
      &__content {
        margin: 0;
      }

      &__close {
        background-image: url('#{$asset-path}66542f40-close.svg');
        background-size: 1rem;
        height: 1rem;
        position: absolute;
        right: .75rem;
        text-indent: -99999px;
        top: .75rem;
        width: 1rem;
      }
    }
  }
}
