// Vanilla components
@import 'vanilla-framework/scss/vanilla';
@import 'patterns-modal';

// Include base Vanilla styles
@include vf-b-placeholders;

// Include all the CSS
.cookie-policy {
  @include vf-base;
  @include vf-b-typography;
  @include vf-b-hr;
  @include vf-button-white-success-icon;
  @include vf-button-neutral;
  @include vf-button-positive;
  @include vf-p-modal;
  @include vf-p-switch;
  @include vf-u-vertical-spacing;
  @include vf-u-margin-collapse;
  @include vf-u-off-screen;
  @include vf-u-floats;
  @include cookie-p-modal;
}
